/* BUTTONS */

.button {
  width: 8.2em;
  height: 2.7em;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}
.standard {
  background-color: rgb(28, 28, 28);
  color: rgb(234, 234, 234);
  transition: 0.1s;
}
.standard:hover {
  background-color: rgb(0, 0, 0);
}
.cancel {
  background-color: rgb(232, 232, 232);
  color: rgb(24, 24, 24);
  transition: 0.1s;
}
.cancel:hover {
  background-color: rgb(211, 211, 211);
  color: rgb(24, 24, 24);
}
.back {
  width: 3em;
  height: 2.5em;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(148, 148, 148);
  transition: 0.1s;
}
.back:hover {
  background-color: #f7f7f7;
}
.delete {
  background-color: rgb(255, 69, 69);
  color: white;
  transition: 0.1s;
}
.delete:hover {
  background-color: rgb(255, 34, 34);
  color: white;
}
.edit {
  background-color: rgb(255, 179, 0);
  color: white;
}
.closemodal-button{
  font-size: 1.15em;
  cursor: pointer;
  color: black;
}
.closemodal-button:hover{
  color: rgb(124, 124, 124);
}


.new-article-button{
  width: 8em;
  height: 2.4em;
  border: none;
  outline: none;
  border-radius: 1px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.95em;
  background-color: rgb(0, 142, 155);
  color: rgb(255, 255, 255);
  transition: 0.2s;
  /* border: 1px solid rgb(174, 174, 174); */
}

.new-article-button:focus{
  outline: none;
}
.new-article-button:hover{
  background-color: rgb(0, 84, 92);
}

.file-button{
  border: none !important;
  text-decoration: underline;
  background-color: inherit;
  cursor: pointer;
  outline: none;
}
.file-button:hover{
  color: grey;
}
.file-button:active, .file-button:focus{
  outline: none;
}


/* Custom styled button */
.custom-file-button {
  display: inline-block;
  padding: 0.5em 0.6em;
  background-color: inherit;
  color: rgb(67, 67, 67);
  border: 1px solid grey;
  font-size: 0.9em;
  height: 2.5em;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}
.custom-file-button:hover {
  background-color: #f0f0f0;
}
.custom-file-button:active {
  background-color: #f0f0f0;
}

.add-button{
  border: none;
  color: rgb(30, 30, 30);
  background-color: inherit;
  cursor: pointer;
}

.add-button:hover{
  background-color: rgb(227, 227, 227) !important;
}


.delete-article-button{
  padding: 0.3em 0.5em;
  background-color: rgb(251, 251, 251);
  border-radius: 6px;
  border: 1px solid grey;
  cursor: pointer;
}
.delete-article-button:hover{
  background-color: rgb(230, 230, 230);
}
.delete-button-icon{
  color: rgb(255, 58, 58);
}


.delete-icon{
  border: none;
  color: rgb(200, 200, 200);
  background-color: inherit;
  cursor: pointer;
}
.delete-icon:hover{
  border: none;
  color: rgb(255, 58, 58);
  background-color: inherit;
  cursor: pointer;
}