/* MAIN_RECENTSHOT */


/* search bar */
.search-bar {
  width: 20em;
  height: 2.3em;
  font-size: 0.9em;
  padding-left: 0.6em;
  border-radius: 30px;
  border: 1px solid rgb(61, 61, 61);
}

.search-bar:focus {
  outline: 0.5px solid gray;
}

/* select box */
.select-box {
  width: 10em;
  margin: 0 0 0 0.7em;
  font-size: 0.9em;
  height: 2.3em;
  border-radius: 2px;
  border: 1px solid rgb(61, 61, 61);
}

.control-sheet-table {
  margin-top: 20px;
}

.control-sheet-table tbody tr td {
  padding: 6px 15px;
}

.outer-tr {
  font-size: 1em !important;
}
.outer-tr:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.expanded-inner-table {
  background-color: #f9fdff;
  border: 1px solid #dedede;
  padding: 1em 2.5em 4em 2.5em !important;
  font-size: 0.9em !important;
}
.inner-table-td {
  background-color: rgb(254, 254, 255);
  border: 1px solid #dedede;
  padding: 1em 2.5em 4em 2.5em !important;
  font-size: 0.95em !important;
}

.right-inner-table {
  display: none;
  margin: 1.8em 0 0 2em;
}
.control-sheet-box{
  box-shadow: 1px 1px 5px 1px rgb(208, 208, 208, 0.4);

}

.show-right-inner-table {
  display: block !important;
}
.left-inner-table {
  padding-left:4em;
}

@media (max-width: 1000px) {
  .left-inner-table {
    padding-left:0.7em;
  }
}

.expanded-inner-tr {
  cursor: pointer;
}
.expanded-inner-tr:hover {
  background-color: #f7f7f7;
}
.selected-inner-tr {
  background-color: #f7f7f7;
}

/* when clicking on a row in main table */
.selected-tr {
  background-color: #f7f7f7;
}

.control-sheet-headers h6 {
  font-size: 1em;
}

.flex-container {
  display: flex;
}

.flex-item {
  width: 48%;
}

@media (max-width: 1300px) {
  .flex-container {
    justify-content: space-between; 
  }
}

.tr-tbody.selected-tr {
  background-color: #f2f2f2;
}

.control-sheet-table th,
.control-sheet-table td {
  padding: 8px;
  width: 75%;
}


/* buttons */

.sort-button {
  background-color: inherit;
  margin: 0 0 -0.2em 0.8em;
  padding: 0.2em;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.2em;
  border-radius: 4px;
}

.sort-button:hover {
  background-color: #efefef !important;
}
