/* MAIN CSS */

/* wrapper */
.page-wrapper {
  padding: 8em 5em 10em 5em;
}

@media (max-width: 768px) {
  .page-wrapper {
    padding: 8em 1.2em 8em 1.2em;
  }
}

/* form */
.form-input {
  border-radius: 2px;
  border: 0.5px solid rgb(111, 111, 111);
  height: 2.2em;
  outline: none;
  padding-left: 0.5em;
  font-size: 0.9em;
  width: 100% !important;
}
.form-input:focus {
  border: 0.5px solid rgb(0, 0, 0);
}
/* .form-textarea {
  border-radius: 3px;
  border: 0.5px solid rgb(154, 154, 154);
  height: 8em;
  outline: none;
  padding-left: 0.5em;
  font-size: 0.9em;
  width: 100% !important;
}
.form-textarea:focus {
  border: 0.5px solid rgb(0, 0, 0);
} */
.form-select {
  border-radius: 3px;
  border: 0.5px solid rgb(154, 154, 154);
  height: 2.2em;
  width: 10em !important;
  outline: none;
  padding-left: 0.2em;
  font-size: 0.9em;
}
.form-content-editor {
  border-radius: 3px;
  border: none;
  height: 7em;
}
.contenteditor-error-border {
  border-top: 1px solid red !important;
  border-right: 1px solid red !important;
  border-left: 1px solid red !important;
}
.checkbox-container input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1.5px solid #ccc;
  border-radius: 2px;
  margin-right: 0.5em;
  transition: all 0.1s;
  position: relative;
}
.checkbox-container input[type='checkbox']:checked {
  background-color: #2e2e2e !important;
  border-color: #cccccc;
}
.checkbox-error-border {
  border: 1px solid red !important;
}
/* 
.checkbox-container input[type='checkbox']:checked::after {
    content: '\2714'; /* Unicode character for check mark 
    font-size: 14px;
  color: white !important;
  background-color: none !important;
  position: absolute;
  top: 2px;
  left: 3px;
  font-size: 8px;
}
*/
.checkbox-container label {
  cursor: pointer;
  user-select: none;
}

/* INDEX */

/* PUBLISHEDNEWS */
.table {
  font-size: 0.9em !important;
}
.tr-tbody:hover {
  background-color: #efefef;
  cursor: pointer;
}
.delete-table {
  color: red;
  transition: 0.2s;
}
.delete-table:hover {
  color: black;
}

/* NEWSDETAILS */
.left-box {
  width: 50%;
}
.inner-left-box {
  background-color: rgb(255, 255, 255);
  padding: 3em 2em;
  border-radius: 10px;
  border: 0.5px solid rgb(233, 233, 233);
  box-shadow: 0px 3px 8px 5px rgba(225, 225, 225, 0.4);
}
.left-box p {
  font-size: 0.9em;
}
.right-box {
  padding: 2em;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 3em 3em;
  border-radius: 10px;
  border: 0.5px solid rgb(233, 233, 233);
  box-shadow: 0px 3px 8px 5px rgba(225, 225, 225, 0.4);
  height: fit-content;
}
